<div class="wrapper">
	<div class="main-section">
		<section class="main-banner">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7 col-md-7">
						<div class="banner-text wow fadeInLeft" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-name: A;">
							<h2>Каримзода Ҷамшед</h2>
							<p>
								Mauris malesuada enim eget blandit gravida. Duis hendrerit cursus turpis, id mollis est rutrum nec.
								Sed interdum nisi id libero tincidunt, sit amet vestibulum tortor porttitor. Cras ligula lacus, ullamcorper sed <a href="#" style="color: grey">More</a>
							</p>

						</div>
					</div>
					<div class="col-lg-5 col-md-5">
						<div class="banner-img wow zoomIn" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-name: jb;">
							<img src="~/resources/Images/mudir.png" alt="" style="width: 100%" class="image">
						</div><!--banner-img end-->
					</div>
				</div>
			</div>
		</section><!--main-banner end-->
	</div><!--main-section end-->

	<div class="main-teacher container d-flex">
		<div class="teacher-item col-lg-3 col-md-3 col-sm-5 col-12">
			<img src="~/resources/Teachers/Abdulov.png" class="w-100 teacher-logo image" />
			<div class="teacher-info text-center">
				<h3>
					<a href="" title>Абдулов С</a>
				</h3>
				<span>Муовини декан оид ба илм</span>
				<div class="teacher-icon container">
					<a href="#" title="">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="#" title="">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a href="#" title="">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="teacher-item col-lg-3 col-md-3 col-sm-5 col-12">
			<img src="~/resources/Teachers/MirzohasanovM.jpg" class="w-100 teacher-logo image" />
			<div class="teacher-info text-center">
				<h3>
					<a href="" title>Мирзоҳасанов М</a>
				</h3>
				<span>Муовини декан оид ба таълим</span>
				<div class="teacher-icon container">
					<a href="#" title="">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="#" title="">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a href="#" title="">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="teacher-item col-lg-3 col-md-3 col-sm-5 col-12">
			<img src="~/resources/Teachers/Karimov.png" class="w-100 teacher-logo image" />
			<div class="teacher-info text-center">
				<h3>
					<a href="" title>Каримов Саъдӣ</a>
				</h3>
				<span>Муовини декан оид ба тарбия</span>
				<div class="teacher-icon container">
					<a href="#" title="">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="#" title="">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a href="#" title="">
						<i class="fab fa-facebook-f"></i>
					</a>
				</div>
			</div>
		</div>		
	</div>
	<section class="teachers-section">
		<div class="container">
			<div class="section-title text-center">
				<h2>Омӯзгорони<br>кафедра</h2>
				<p>Quisque id ultrices tellus, ac sodales ex. Cras nec ante viverra, bibendum justo eget, lacinia dui. Donec ligula ligula, elementum sit amet</p>
			</div><!--section-title end-->
			<div class="teachers">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 full-wdth">
						<div class="teacher">
							<div class="teacher-img">
								<img src="~/resources/Images/teacher.jpg" alt="" class="w-100">
								<div class="sc-div">
									<ul>
										<li>
											<a href="#" title="">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
									</ul>
									<span>
										<img src="assets/img/plus.png" alt="">
									</span>
								</div>
							</div>
							<div class="teacher-info">
								<h3>
									<a href="teacher-single.html" title="">Polina Kerston</a>
								</h3><span>English Teacher</span>
							</div>
						</div><!--teacher end-->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 full-wdth">
						<div class="teacher">
							<div class="teacher-img">
								<img src="assets/img/img6.jpg" alt="" class="w-100">
								<div class="sc-div">
									<ul>
										<li>
											<a href="#" title="">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
									</ul>
									<span>
										<img src="assets/img/plus.png" alt="">
									</span>
								</div>
							</div>
							<div class="teacher-info">
								<h3>
									<a href="teacher-single.html" title="">Faadi Al Rahman</a>
								</h3><span>Instructor</span>
							</div>
						</div><!--teacher end-->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 full-wdth">
						<div class="teacher">
							<div class="teacher-img">
								<img src="assets/img/img7.jpg" alt="" class="w-100">
								<div class="sc-div">
									<ul>
										<li>
											<a href="#" title="">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
									</ul>
									<span>
										<img src="assets/img/plus.png" alt="">
									</span>
								</div>
							</div>
							<div class="teacher-info">
								<h3>
									<a href="teacher-single.html" title="">Chikelu Obasea</a>
								</h3><span>Art Teacher</span>
							</div>
						</div><!--teacher end-->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-6 full-wdth">
						<div class="teacher">
							<div class="teacher-img">
								<img src="assets/img/img8.jpg" alt="" class="w-100">
								<div class="sc-div">
									<ul>
										<li>
											<a href="#" title="">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
										<li>
											<a href="#" title="">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
									</ul>
									<span>
										<img src="assets/img/plus.png" alt="">
									</span>
								</div>
							</div>
							<div class="teacher-info">
								<h3>
									<a href="teacher-single.html" title="">Katayama Fumiki</a>
								</h3><span>Teacher</span>
							</div>
						</div><!--teacher end-->
					</div>
				</div>
			</div><!--teachers end-->
		</div>
	</section>
	<section class="course-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="find-course">
						<div class="sec-title">
							<h2>Корҳои илмӣ</h2>
							<p>ullam fringilla ipsum sed enim scelerisque, ac porttitor libero egestas. Donec iaculis nisi eget bibendum efficitur. Lorem ipsum dolor sit</p>
							@* <h3><img src="assets/img/icon11.png" alt="">Call: <strong>+2 342 5446 67</strong></h3> *@
						</div><!--sec-title end-->
						<div class="course-img">
							<img src="~/resources/Images/scienceWork.jpg" alt="" width="100%">
						</div><!--course-img end-->
					</div><!--find-course end-->
				</div>
				<div class="col-lg-6">
					<div class="courses-list">
						<div class="course-card wow fadeInLeft" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-name: none;">
							<div class="d-flex flex-wrap align-items-center">
								<ul class="course-meta">
									<li><img src="assets/img/icon12.png" alt=""> 29/07/2020</li>
									<li>11AM to 15PM</li>
								</ul><span>FREE</span>
							</div>
							<h3>
								<a href="event-single.html" title="">Digital Transformation Conference</a>
							</h3>
							<div class="d-flex flex-wrap">
								<div class="posted-by">
									<img src="assets/img/ico2.png" alt=""> <a href="#" title="">Amanda Kern</a>
								</div><span class="locat"><img src="assets/img/loct.png" alt="">43 castle road 517 district</span>
							</div>
						</div><!--course-card end-->
						<div class="course-card wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: none;">
							<div class="d-flex flex-wrap align-items-center">
								<ul class="course-meta">
									<li><img src="assets/img/icon12.png" alt=""> 29/07/2020</li>
									<li>11AM to 15PM</li>
								</ul><span>$16</span>
							</div>
							<h3>
								<a href="event-single.html" title="">Environment conference</a>
							</h3>
							<div class="d-flex flex-wrap">
								<div class="posted-by">
									<img src="assets/img/ico2.png" alt=""> <a href="#" title="">Cvita Doleschall</a>
								</div><span class="locat"><img src="assets/img/loct.png" alt="">43 castle road 517 district</span>
							</div>
						</div><!--course-card end-->
						<div class="course-card wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
							<div class="d-flex flex-wrap align-items-center">
								<ul class="course-meta">
									<li><img src="assets/img/icon12.png" alt=""> 29/07/2020</li>
									<li>11AM to 15PM</li>
								</ul><span>$8</span>
							</div>
							<h3>
								<a href="event-single.html" title="">Campus clean workshop</a>
							</h3>
							<div class="d-flex flex-wrap">
								<div class="posted-by">
									<img src="assets/img/ico2.png" alt=""> <a href="#" title="">Helena Brauer</a>
								</div><span class="locat"><img src="assets/img/loct.png" alt="">43 castle road 517 district</span>
							</div>
						</div><!--course-card end-->
					</div><!--courses-list end--> <a href="events.html" title="" class="all-btn">All Events <i class="fa fa-long-arrow-alt-right"></i></a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section><!--course-section end-->
	<section class="blog-section">
		<div class="container">
			<div class="section-title text-center">
				<h2>Донишҷӯёни аълохон</h2>
				<p>Nam mattis felis id sodales rutrum. Nulla ornare tristique mauris, a laoreet erat ornare sit amet. Nulla sagittis faucibus lacusMorbi lorem sem, aliquet</p>
			</div><!--section-title end-->
			<div class="blog-posts">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="blog-post">
							<div class="blog-thumbnail">
								<img src="assets/img/blog1.jpg" alt="" class="w-100"> <span class="category">5</span>
							</div>
							<div class="blog-info">
								<ul class="meta">
									<li>
										<a href="#" title="">17/09/2020</a>
									</li>
									<li>
										<a href="#" title="">by Admin</a>
									</li>
									<li>
										<img src="assets/img/icon13.png" alt=""><a href="#" title="">Teachers,</a><a href="#" title=""> School</a>
									</li>
								</ul>
								<h3>
									<a href="post.html" title="">Campus clean workshop</a>
								</h3>
								<p>Nam mattis felis id sodales rutrum. Nulla ornare tristique mauris, a laoreet erat ornare sit amet</p><a href="post.html" title="" class="read-more">Read <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div><!--blog-post end-->
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="blog-post">
							<div class="blog-thumbnail">
								<img src="assets/img/blog2.jpg" alt="" class="w-100"> <span class="category">4.8</span>
							</div>
							<div class="blog-info">
								<ul class="meta">
									<li>
										<a href="#" title="">17/09/2020</a>
									</li>
									<li>
										<a href="#" title="">by Admin</a>
									</li>
									<li>
										<img src="assets/img/icon13.png" alt=""><a href="#" title="">Teachers,</a><a href="#" title=""> School</a>
									</li>
								</ul>
								<h3>
									<a href="post.html" title="">Campus clean workshop</a>
								</h3>
								<p>Nam mattis felis id sodales rutrum. Nulla ornare tristique mauris, a laoreet erat ornare sit amet</p><a href="post.html" title="" class="read-more">Read <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div><!--blog-post end-->
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="blog-post">
							<div class="blog-thumbnail">
								<img src="assets/img/blog3.jpg" alt="" class="w-100"> <span class="category">4.6</span>
							</div>
							<div class="blog-info">
								<ul class="meta">
									<li>
										<a href="#" title="">17/09/2020</a>
									</li>
									<li>
										<a href="#" title="">by Admin</a>
									</li>
									<li>
										<img src="assets/img/icon13.png" alt=""><a href="#" title="">Teachers,</a><a href="#" title=""> School</a>
									</li>
								</ul>
								<h3>
									<a href="post.html" title="">Campus clean workshop</a>
								</h3>
								<p>Nam mattis felis id sodales rutrum. Nulla ornare tristique mauris, a laoreet erat ornare sit amet</p><a href="post.html" title="" class="read-more">Read <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div><!--blog-post end-->
					</div>
				</div>
			</div><!--blog-posts end-->
		</div>
	</section><!--blog-section end-->
	<section class="course-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="find-course">
						<div class="sec-title">
							<h2>Фармон</h2>
							<p>ullam fringilla ipsum sed enim scelerisque, ac porttitor libero egestas. Donec iaculis nisi eget bibendum efficitur. Lorem ipsum dolor sit</p>
							@* <h3><img src="assets/img/icon11.png" alt="">Call: <strong>+2 342 5446 67</strong></h3> *@
						</div><!--sec-title end-->
						<div class="course-img">
							<img src="~/resources/Images/" alt="">
						</div><!--course-img end-->
					</div><!--find-course end-->
				</div>
				<div class="col-lg-6">
					<div class="courses-list">
						<div class="course-card wow fadeInLeft" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-name: none;">
							<div class="d-flex flex-wrap align-items-center">
								<ul class="course-meta">
									<li><img src="assets/img/icon12.png" alt=""> 29/07/2020</li>
									<li>11AM to 15PM</li>
								</ul><span>FREE</span>
							</div>
							<h3>
								<a href="event-single.html" title="">Digital Transformation Conference</a>
							</h3>
							<div class="d-flex flex-wrap">
								<div class="posted-by">
									<img src="assets/img/ico2.png" alt=""> <a href="#" title="">Amanda Kern</a>
								</div><span class="locat"><img src="assets/img/loct.png" alt="">43 castle road 517 district</span>
							</div>
						</div><!--course-card end-->
						<div class="course-card wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: none;">
							<div class="d-flex flex-wrap align-items-center">
								<ul class="course-meta">
									<li><img src="assets/img/icon12.png" alt=""> 29/07/2020</li>
									<li>11AM to 15PM</li>
								</ul><span>$16</span>
							</div>
							<h3>
								<a href="event-single.html" title="">Environment conference</a>
							</h3>
							<div class="d-flex flex-wrap">
								<div class="posted-by">
									<img src="assets/img/ico2.png" alt=""> <a href="#" title="">Cvita Doleschall</a>
								</div><span class="locat"><img src="assets/img/loct.png" alt="">43 castle road 517 district</span>
							</div>
						</div><!--course-card end-->
						<div class="course-card wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="600ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 600ms; animation-name: none;">
							<div class="d-flex flex-wrap align-items-center">
								<ul class="course-meta">
									<li><img src="assets/img/icon12.png" alt=""> 29/07/2020</li>
									<li>11AM to 15PM</li>
								</ul><span>$8</span>
							</div>
							<h3>
								<a href="event-single.html" title="">Campus clean workshop</a>
							</h3>
							<div class="d-flex flex-wrap">
								<div class="posted-by">
									<img src="assets/img/ico2.png" alt=""> <a href="#" title="">Helena Brauer</a>
								</div><span class="locat"><img src="assets/img/loct.png" alt="">43 castle road 517 district</span>
							</div>
						</div><!--course-card end-->
					</div><!--courses-list end--> <a href="events.html" title="" class="all-btn">All Events <i class="fa fa-long-arrow-alt-right"></i></a>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section><!--course-section end-->
</div>