<div class="wrapper">
	<!--responsive-menu end-->
	<section class="pager-section">
		<div class="container">
			<div class="pager-content text-center">
				<h2>Автоматонии равандҳои технологӣ ва истеҳсолот</h2>
				<ul>
					<li><a href="#" title="">Home</a></li>
					<li><span>Таърих</span></li>
				</ul>
			</div>
			<!--pager-content end-->
		</div>
	</section>
	<section class="page-content style2">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8">
					<div class="class-single-content">
						<p>
							Кафедраи “Автоматонии равандҳои технологӣ ва истеҳсолот” воҳиди таркибии факултети
							“Технологияҳои иттилоотӣ ва коммуникатсионӣ” -и Донишгоҳи техникии Тоҷикистон ба номи
							академик М.С. Осимӣ буда, он дар заминаи кафедраи “Системаҳои автоматонидашудаи коркарди
							маълумот ва идора” бо пешниҳоди Шӯрои олимони факултет дар асоси қарори Шӯрои олимони
							Донишгоҳ таҳти №12 аз 02.06.2018 с. ва фармоиши ректори Донишгоҳ таҳти №1019-3/4 аз
							27.08.2018 с. таъсис дода шудааст.
						</p>
						<p>
							- Дар кафедра озмоишгоҳҳои бо компютерҳо ҷиҳозонида шуда ва озмоишгоҳи илмӣ -тадқиқотии
							донишҷӯён (роҳбари илмӣ - н.и.т., дотсент Юнусов Н.И.) фаъолият мекунанд, ки дар онҳо
							донишҷӯён мунтазам корҳои мустаққилонаи худ ва бо корҳои илмӣ-тадқиқотӣ машғуланд. Самти
							корҳои илмии донишҷӯён ба системаҳои идоракунии автоматӣ, назорат ва ташхиси объектҳои
							саноатӣ бахшида шудааст.
						</p>
						<div class="class-single-content">
							<div class="class-gallery">
								<div class="class-gallery-img"><a href="assets/img/class-gallery1.jpg" title=""
										class="html5lightbox" data-group="set1"><img
											src="~/resources/department/arti/teachers.jpg" alt=""></a></div>
								<!--class-gallery-img end-->
							</div>
							<!--class-gallery end-->
						</div>
						<p>
							Самтҳои асосии фаъолияти кафедраи "Автоматонии равандҳои технологӣ ва истеҳсолот" -ро
							идоракунии равандҳои технологӣ ва истеҳсолоти гуногун дар асоси усулҳои муосири компютерӣ ва
							системаҳои зеҳни сунъӣ ташкил медиҳад, ки таҳияи технологияҳои муосир, воситаҳои техникии
							автоматонӣ ва системаҳои идоракуниро дар бар мегирад. Дар доираи ин самт шумораи зиёди
							тадқиқотҳо гузаронида шудаанд. Натиҷаи корҳои илмии кафедра дар корхонаҳои саноатии
							истеҳсоли масолеҳҳои сохтмонӣ, нақлиётӣ ва кишоварзӣ ҷорӣ карда шудаанд. Кафедра
							мутахассисонро барои фаъолият дар соҳаҳои автоматонии равандҳои технологӣ ва истеҳсолот,
							технологияҳои иттилоотӣ ва идоракунӣ дар системаҳои техникӣ, воситаҳои олотӣ ва технологияи
							лоиҳакашии системаҳои зеҳнӣ аз рӯи ихтисосҳои зерин тайёр менамоянд:
						</p>
						<ul class="ordrd">
							<li>1-530101 – автоматонии равандҳои технологӣ ва истеҳсолот (аз рӯи самтҳо); </li>
							<li>1-530107 – технологияҳои иттилоотӣ ва идоракунӣ дар системаҳои техникӣ;</li>
							<li>1-400301-02 – технологияҳои зеҳнии компютерии ҳифзи иттилоот; </li>
							<li>1-400301-05 – воситаҳои олотӣ ва технологияи лоиҳакашии системаҳои зеҳнӣ. </li>
						</ul>

						<p>
							Дар самтҳои зикршуда, бо роҳбарии номзади илмҳои техникӣ, дотсентон Юнусов Н.И ва Ҷалолов
							У.Х. шумораи зиёди тадқиқотҳо гузаронида шуданд ва дар натиҷа 3 рисолаи илмӣ, 2 монография ,
							3 патент, садҳо мақолаҳо ва маводҳои таълимию методӣ ба табъ расидаанд. Натиҷаи корҳои илмии
							кафедра дар корхонаҳои саноатӣ, истеҳсоли масолеҳҳои сохтмонӣ, соҳаҳои нақлиёт ва кишоварзӣ
							ҷорӣ карда шудаанд.
						</p>
						<p>
							Омӯзгорон ва донишҷӯёни кафедра дар озмунҳои ихтироъкорони донишгоҳ фаъолона иштирок намуда,
							системаҳои техникии замонавиро пешниҳод намудаанд, аз ҷумла: робот манипулятор барои
							истифода дар истеҳсолот, 3D принтер, лавҳаи электронии маълумотӣ бо истифодаи соат дар вақти
							воқеъӣ, лавҳаи идораи обёрии қатрагӣ бо истифодаи мантиқи ноаниқ, стенди тадқиқотии
							системаҳои хунуккунии муҳаррики дарунсӯз, ва дигар таҷҳизот ва сохторҳои техникӣ барои
							идораи автоматии равандҳои технологӣ дар асоси барнома ва системаҳои зеҳнии сунъӣ.
						</p>
						<p>
							Дар кафедра корҳои илмӣ-тадқиқотӣ дар мавзӯъ ва равияҳои зерин гузаронида мешаванд:
							системаҳои зеҳнии сунъии идораи автоматӣ, системаҳои автоматонидашуда барои идораи равандҳои
							технологӣ, идентификатсия ва идораи равандҳои биоэкологӣ, истифодаи системаҳои геоиттилоотӣ
							барои мониторинги пиряхҳо ва таҳияи кадастри заминҳо.
						</p>
						<p>Хатмкунандагони кафедра ба татбиқ ва истифодаи системаҳои зеҳнии сунъӣ ва идоракунӣ дар
							тамоми соҳаҳои саноатӣ машғуланд ва дар бозори муосири меҳнат мавқеи худро ишғол мекунанд.
							Онҳо метавонанд вазифаҳои зеринро иҷро намоянд: муҳандис оид ба автоматикунонии равандҳои
							истеҳсолот; муҳандис – барномасоз, муҳандиси соҳаи электроника, муҳандис – системотехник.
						</p>

						<!--class-single-content end-->
					</div>
				</div>
				<div class="col-xl-4 col-lg-4">
					<div class="sidebar class-sidebar class-slidebar">
						<div class="widget widget-information">
							<div class="tech-info">
								<div class="tech-tble">
									<img src="/resources/department/arti/bandishoeva.jpg" alt="" class="w-100">
									<div class="tch-info">
										<h1>Бандишоева Рисолат Мирзошоевна</h1>
										<h5>Автоматонии равандҳои технологӣ ва истеҳсолот</h5>
									</div>
								</div><a href="contacts.html" title="" class="btn-default">Бештар<i
										class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
						<!--widget-information end-->
						<div class="widget widget-class">
							<div class="wd-class-post">
								<div class="wd-class-thumb"><img src="assets/img/ci1.png" alt=""></div>
								<div class="wd-class-info">
									<h3>Class Program</h3><span>Adobe Acrobat file, 123 КB</span>
								</div>
							</div>
							<!--wd-class-post end-->
						</div>
						<!--widget-class end-->
						<div class="widget widget-classes-carousel">
							<h3 class="widget-title">Other Classes</h3>
							<div class="classes-section classes-widget-slider slick-initialized slick-slider">
								<div aria-live="polite" class="slick-list draggable" tabindex="0">
									<div class="slick-track"
										style="opacity: 1; width: 1465px; transform: translate3d(-293px, 0px, 0px);">
										<div class="classes-col slick-slide slick-cloned" data-slick-index="-1" id=""
											aria-hidden="true" style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img3.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide slick-active" data-slick-index="0"
											aria-hidden="false" style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img1.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide" data-slick-index="1" aria-hidden="true"
											style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img2.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide" data-slick-index="2" aria-hidden="true"
											style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img3.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide slick-cloned" data-slick-index="3" id=""
											aria-hidden="true" style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img1.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
								<ul class="slick-dots" style="">
									<li class="slick-active" aria-hidden="false"><button type="button"
											data-role="none">1</button></li>
									<li aria-hidden="true" class=""><button type="button" data-role="none">2</button>
									</li>
									<li aria-hidden="true" class=""><button type="button" data-role="none">3</button>
									</li>
								</ul>
							</div>
							<!--classes-section end-->
						</div>
						<!--widget-classes-carousel end-->
						<div class="widget widget-contact-dp mdp-contact">
							<div class="mdp-our-contacts">
								<h3>Our Contacts</h3>
								<ul>
									<li>
										<div class="d-flex flex-wrap">
											<div class="icon-v"><img src="assets/img/icon15.png" alt=""></div>
											<div class="dd-cont">
												<h4>Call</h4><span>+2 342 5446 67</span>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex flex-wrap">
											<div class="icon-v"><img src="assets/img/icon16.png" alt=""></div>
											<div class="dd-cont">
												<h4>Work Time</h4><span>Mon - Fri 8 AM - 5 PM</span>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex flex-wrap">
											<div class="icon-v"><img src="assets/img/icon17.png" alt=""></div>
											<div class="dd-cont">
												<h4>Address</h4><span>Franklin St, Greenpoint Ave</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!--widget-contact-dp end-->
					</div>
					<!--sidebar end-->

				</div>
			</div>
	</section>
</div>
