<div class="wrapper">
	<!--responsive-menu end-->
	<section class="pager-section">
		<div class="container">
			<div class="pager-content text-center">
				<h2>Системаҳои автоматикунонидашудаи идоракунӣ</h2>
				<ul>
					<li><a href="#" title="">Home</a></li>
					<li><span>Таърих</span></li>
				</ul>
			</div>
			<!--pager-content end-->
		</div>
	</section>
	<section class="page-content style2">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8">
					<div class="class-single-content">
						<p>
							Тайёр намудани мутахасисони ихтисоси автоматонии системаҳои коркарди иттилоот (АСКИ) ҳануз
							дар солҳои 1979 оғоз ёфта буд. Дар ин ҷода нақши асосиро мутахассисони барҷаста ба монанди
							Чекалин В.Г., Ли И.Т., Тимошенков Ю.А., Пучков В. Ф., Смирнов К.К., Василенко А.А., Лукянов
							В.Г., Мухамадиев Б.М., Шин В.В., Юнусов Н.И., Ҷалолов У.Х., Абдувасиева З.С., Набиев С.А. ва
							дигар устодони кафедраи он вақтаи «Автоматика ва техникаи ҳисоббарор», ки дар ҳайати
							факултети энергетикӣ фаъолият мекард, иҷро кардаанд.
						</p>
						<p>
							Ҳамзамон бо тарақиёти соҳаи технологияҳои компютерӣ ва технологияҳои иттилоотӣ ва
							коммуникатсионӣ талабот ба мутахасисони соҳаи мазкур дар ҷумҳурӣ хеле афзуд ва ҳамрадифи ин
							шумораи довталабони ин ихтисос дар байни ҷавонон рў ба ташаккул овард. Аз ин лиҳоз соли 1990
							кафедраи «Автоматика ва техникаи ҳисоббарор» ба ду кафедра тақсим карда шуд – «Системаҳои
							автоматонидашудаи коркарди маълумот ва идоракунӣ» ва «Информатика ва техникаи ҳисоббарор».
						</p>
						<div class="class-single-content">							
							<div class="class-gallery">
								<div class="class-gallery-img"><a href="assets/img/class-gallery1.jpg" title=""
										class="html5lightbox" data-group="set1"><img src="~/resources/department/asu.jpg"
											alt=""></a></div>
								<!--class-gallery-img end-->							
							</div>
							<!--class-gallery end-->							
						</div>
						<p>
							Соли 2018 бо қарори Шурои олимон таҳти №12 аз 02.06.2018 (масъалаи 4.11) ва фармоиши ректор
							таҳти № 1019-3/4 аз 27.08.2018 дар базаи кафедраи «Системаҳои автоматонидашудаи коркарди
							маълумот ва идоракунӣ» кафедраи «Системаи автоматикунонидашудаи идоракунӣ» таъсис дода шуд.
							Ба вазифаи мудири кафедраи номзади илмҳои техникӣ, и.в.дотсент Кабилов Шавкат Саибджонович
							таъин гардид.
						</p>
						<p>
							Айни замон кафедра мутахасисони баландихтисосро аз рўи ихтисоси – Автоматонии системаҳои
							коркарди иттилоот (АСКИ) тайёр менамояд. Инчунин дар кафедра аз рўи ихтисоси
							1-530102-«Системаҳои автоматонидашудаи коркарди маълумот» магистрантҳо таҳсил менамоянд.
							Кафедра дар соҳаи тайёр намудании мутахассисони унвондор аз рўи ихтисоси 6D070400- Техникаи
							ҳисоббарор ва таъминоти барномавӣ низ фаъолият менамояд.
						</p>
						<p>
							Дар ҷодаи тайёр намудани мутахасисон 10 нафар омўзгорони штатӣ, 5 нафар омўзгорони ҳамкории
							дохила ва 5 нафар омўзгорони ҳамкории беруна фаъолият менамоянд. Аз ҷумла: дотсент, н.и.т.
							Умаралиев Р.Ш., н.и.т. Холов Ш.Ё., н.и.т. Бадалова М.А., н.и.т. Қосимов А.А., н.и.т. Ҷовиди
							Ҷамшед, н.и.т. Бобобеков Қ.М., Раҷабова А.С., Саидова М.С. ва Давлатбекова Ш.Д.
						</p>
						<p>
							Имрўз дар кафедра барои тайёр намудани мутахасисони бакалавр ва магистрҳо чунин озмоишгоҳҳо,
							ки бо воситаҳои техникӣ ҷиҳозонидашуда мебошанд истифода мешаванд:
						</p>
						<ul class="ordrd">
							<li>Нақшакашии компютерӣ ва системаҳои мултимедӣ; </li>
							<li>Web дизайн; </li>
							<li>Моделсозии системаҳо;</li>
							<li>Асосҳои назариявии системаҳои автоматонидашуда; </li>
							<li>Шабакаҳои иттилоотӣ ва компютерӣ; </li>
							<li>Лоиҳакашии системаҳои автоматонидашудаи коркарди маълумот ва идоракунӣ; </li>
							<li>Лоиҳакашии системаҳои иттилоотӣ; </li>
							<li>Системаҳои вақти воқеъи; </li>
							<li>Асосҳои назарияи идоракунӣ;</li>
							<li>Барномасозӣ; </li>
							<li>Технологияҳои иттилоотӣ ва ҳифзи маълумот;</li>
							<li>Озмоишгоҳи илмӣ-тадқиқотии донишҷуён.</li>
						</ul>
						<p>Ҳамаи компютерҳои озмоишгоҳҳо дар айни замон ба шабакаи Интернет пайваст мебошанд.</p>
						<p>Дар ҷараёни таълим барномаҳои таълимии гуногун инчунин системахои иттилоотӣ ба
							монанди Microsoft Office, Visual Studio, Matlab, Electronics Workbench, AutoCAD, IBM
							Rational Rose, Oracle Express Edition, MS SQL-server, MY SQL, Borland Delphi, С# ва
							ғайра мавриди омўзиш қарор дода шудаанд.</p>

						<p>Барои гузариш ба пояи баланд дар соҳаи тайёр намудани мутахасисон аз тарафи устодони
							барҷастаи кафедра нақшаҳои намунавии дарсӣ барои ихтисосҳои кафедра тартиб дода шудаанд.</p>
						<p>Аз тарафи кафедра чунин корҳои илмӣ иҷро гардида ба анҷом расонида шудаанд:</h3>
						<ul class="ordrd">
							<li>Тадқиқоти BIDI алгоритм барои коркарди матн. </li>
							<li>Методологияи таҳияи системаҳои автоматонидашудаи иттилоотӣ . </li>
							<li>Ҳисоб кардани эҳтиёҷот барои кадрҳои педагогӣ дар муассисаҳои таълимии таҳсилоти умумии
								Ҷумҳурии Тоҷикистон.</li>
							<li>Таҳияи системаи системаҳои автоматонидашудаи иттилоотӣ “Молияи мактабҳо. </li>
							<li>Синтези регуляторҳои якканала ва бисёрканала. </li>
							<li>Муайян намудани муаллифи матни номаълум. </li>
							<li>Моделонӣ ва идоракунии равандҳои технологӣ. </li>
						</ul>
						<p>Устодон ва донишҷуёни кафедра дар семинар ва конфронсҳои ҷумҳуриявӣ ва байналмилалӣ иштирок
							намуда саҳми худро дар тарақиёти илмӣ ҷумҳуриамон гузошта истодаанд. Дар кафедра озмоишгоҳи
							илмӣ-тадқиқотии донишҷўён фаъолият менамояд, ки натиҷаҳои корҳои гузаронидашуда ҳамчунин дар
							конфронс ва намоишгоҳҳои дохиливу хориҷӣ ба чашм мерасанд.</p>
						<p>Корҳои тарбиявӣ дар кафедра аз рўи барномаи корие, ки аз тарафи роҳбарияти донишгоҳ пешниҳод
							мегардад гузаронида мешавад. Устодон ва донишҷуёни кафедра дар чорабиниҳо бахшида ба ҷашни
							иди наврўз, мусобиқаҳои варзишӣ ва корҳои чамъиятӣ фаъолона иштирок менамоянд. </p>
						<p>Кафедра бо муассисаҳои илмии ватанӣ ва хориҷӣ дар ҷодаи илм ва таълим равобити хеле зич
							дорад. Аз ҷумла бо ширкатҳои «Tcell» , «Telekomm-Technology», «Babilon-Mobile» ва «Tarena».
						</p>

						<div class="blog-post single">
							<blockquote>
								<h3>Дастовардҳои кафедраи Системаҳои автоматикунонидашудаи идоракунӣ
								</h3>
								<h4></h4>
							</blockquote>
						</div>
						<p>Дар кафедра 3 озмоишгоҳҳои компютерӣ ва илмӣ-тадқиқотии донишҷӯён фаъолият мекунанд, ки дар
							онҳо донишҷӯён мунтазам бо корҳои мустақилонаи худ ва корҳои илмӣ-тадқиқотӣ машғуланд. Самти
							корҳои илмӣ-тадқиқотии донишҷӯён ба системаҳои идоракунии автоматонӣ, таҳияи таъминоти
							барномавӣ, идораи базаи додаҳо, таҳияи сомонаҳо ва таҳияи маҳсулоти барномавии навин бахшида
							шудааст.
						</p>
						<p>Дар самтҳои зикршуда, аз тарафи омӯзгорони кафедра шумораи зиёди таҳқиқотҳо гузаронида шуданд
							ва дар натиҷа 7 рисолаи илмӣ, 3 монография, 2 патент, 14 шаҳодатномаи моликияти зеҳнӣ, садҳо
							мақолаҳо ва маводҳои таълимию методӣ, ки аз онҳо 8 мақола дар нашрияҳои тақризии Web of
							Science, Scopus ва амсоли онҳо ба табъ расидаанд. Натиҷаи корҳои илмӣ-тадқиқотии кафедра дар
							вазорату идораҳои давлатӣ, бонкҳо, ширкатҳои бузурги соҳаи алоқа ҷорӣ карда шудаанд.
						</p>
						<p>Натиҷаи ҷорикунии навгониҳо ва меҳнати самараноки омӯзгорони кафедра дар давоми панҷ соли
							охир ба он овард, ки кафедра дар донишгоҳ ҳамчун яке аз беҳтарин кафедраҳои тахассусӣ
							шинохта шуда, донишҷӯёни кафедра дар олимпиадаҳои фаннии ҷумҳуриявии донишҷӯён ва озмунҳои
							инноватсиониву касбӣ ҷойҳои намоёнро ишғол кард истодаанд.
						</p>
					</div>

					<!--class-single-content end-->
				</div>
				<div class="col-xl-4 col-lg-4">
					<div class="sidebar class-sidebar class-slidebar">
						<div class="widget widget-information">
							<div class="tech-info">
								<div class="tech-tble">
									<img src="/resources/department/kabilov.jpg" alt="" class="w-100">
									<div class="tch-info">
										<h1>Кабилов Шавкат Соҳибҷонович</h1>
										<h5>Мудири кафедраи Системаҳои автоматикунонидашудаи идоракунӣ</h5>
									</div>
								</div><a href="contacts.html" title="" class="btn-default">Бештар<i
										class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
						<!--widget-information end-->
						<div class="widget widget-class">
							<div class="wd-class-post">
								<div class="wd-class-thumb"><img src="assets/img/ci1.png" alt=""></div>
								<div class="wd-class-info">
									<h3>Class Program</h3><span>Adobe Acrobat file, 123 КB</span>
								</div>
							</div>
							<!--wd-class-post end-->
						</div>
						<!--widget-class end-->
						<div class="widget widget-classes-carousel">
							<h3 class="widget-title">Other Classes</h3>
							<div class="classes-section classes-widget-slider slick-initialized slick-slider">
								<div aria-live="polite" class="slick-list draggable" tabindex="0">
									<div class="slick-track"
										style="opacity: 1; width: 1465px; transform: translate3d(-293px, 0px, 0px);">
										<div class="classes-col slick-slide slick-cloned" data-slick-index="-1" id=""
											aria-hidden="true" style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img3.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide slick-active" data-slick-index="0"
											aria-hidden="false" style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img1.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide" data-slick-index="1" aria-hidden="true"
											style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img2.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide" data-slick-index="2" aria-hidden="true"
											style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img3.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
										<div class="classes-col slick-slide slick-cloned" data-slick-index="3" id=""
											aria-hidden="true" style="width: 293px;">
											<div class="class-thumb"><img src="assets/img/img1.jpg" alt=""
													class="w-100"> <a href="contacts.html" title="" class="crt-btn"><img
														src="assets/img/icon10.png" alt=""></a>
											</div>
											<div class="class-info">
												<h3>Basic English Speaking and Grammar</h3><span>Mon-Fri</span>
												<span>10 AM - 12 AM</span>
												<div class="d-flex flex-wrap align-items-center">
													<div class="posted-by"><img src="assets/img/ico.png" alt=""> <a
															href="#" title="">Amanda Kern</a></div><strong
														class="price">$45</strong>
												</div>
											</div>
										</div>
									</div>
								</div>
								<ul class="slick-dots" style="">
									<li class="slick-active" aria-hidden="false"><button type="button"
											data-role="none">1</button></li>
									<li aria-hidden="true" class=""><button type="button" data-role="none">2</button>
									</li>
									<li aria-hidden="true" class=""><button type="button" data-role="none">3</button>
									</li>
								</ul>
							</div>
							<!--classes-section end-->
						</div>
						<!--widget-classes-carousel end-->
						<div class="widget widget-contact-dp mdp-contact">
							<div class="mdp-our-contacts">
								<h3>Our Contacts</h3>
								<ul>
									<li>
										<div class="d-flex flex-wrap">
											<div class="icon-v"><img src="assets/img/icon15.png" alt=""></div>
											<div class="dd-cont">
												<h4>Call</h4><span>+2 342 5446 67</span>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex flex-wrap">
											<div class="icon-v"><img src="assets/img/icon16.png" alt=""></div>
											<div class="dd-cont">
												<h4>Work Time</h4><span>Mon - Fri 8 AM - 5 PM</span>
											</div>
										</div>
									</li>
									<li>
										<div class="d-flex flex-wrap">
											<div class="icon-v"><img src="assets/img/icon17.png" alt=""></div>
											<div class="dd-cont">
												<h4>Address</h4><span>Franklin St, Greenpoint Ave</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!--widget-contact-dp end-->
					</div>
					<!--sidebar end-->
				</div>
			</div>
		</div>
	</section>
</div>
