<section class="page-content">
		<div class="container col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xsm-12">
			<div class="row">
				<div class="col-lg-9">
					<div class="blog-section p-0 posts-page">
						<div class="blog-posts">							
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/asu" title="">Системаҳои автоматикунонидашудаи идоракунӣ</a></h3>
								</div>
							</div>
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/arti" title="">Автоматонии равандҳои технологӣ ва истеҳсолот</a>
									</h3>
								</div>
							</div>
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/shask" title="">Шабакаҳои алоқа ва системаҳои коммутатсионӣ</a>
									</h3>
								</div>
							</div>
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/tihm" title="">Технологияҳои иттилоотӣ ва ҳифзи маълумот</a></h3>
								</div>
							</div>
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/ith" title="">Информатика ва техникаи ҳисоббарор</a></h3>
								</div>
							</div>
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/mo" title="">Математикаи олӣ</a></h3>
								</div>
							</div>
							<div class="blog-post quote-post no-bg">
								<div class="blog-info">
									<h3><a href="~/events/fo" title="">Фанҳои ҷомеашиносӣ</a></h3>
								</div>
							</div>							
						</div>					
					</div>									
				</div>
				<div class="col-lg-3">
					<div class="sidebar class-sidebar">
						<div class="widget widget-information">
							<div class="tech-info">
								<div class="tech-tble">
									<img src="/resources/leaders/davlatzoda.jpeg" alt="" class="w-100">
									<div class="tch-info">
										<h1>Давлатзода Қудрат Қамбар</h1>
										<h5>Ректори Донишгоҳи техникии Тоҷикистон ба номи М.С. Осимӣ</h5>
									</div>
								</div><a href="contacts.html" title="" class="btn-default">Бештар<i
										class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div>
						<div class="widget widget-information">
							<div class="tech-info">
								<div class="tech-tble">
									<img src="/resources/leaders/karimzoda.png" alt="" class="w-100">
									<div class="tch-info">
										<h1>Каримзода Ҷамшед Ҳалим</h1>
										<h5>Декани факултети Технологияи иттилоотӣ ва коммуникатсионӣ</h5>
									</div>
								</div><a href="contacts.html" title="" class="btn-default">Бештар<i
										class="fa fa-long-arrow-alt-right"></i></a>
							</div>
						</div>						
						<!--widget-contact-dp end-->
					</div>
					<!--sidebar end-->
				</div>
			</div>
		</div>
	</section>