<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Технологияи иттилоотӣ ва коммуникатсионӣ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Department - Website"/>
    <meta name="author" content="merkulove">
    <meta name="keywords" content=""/>
    <link rel="icon" href="~/resources/Images/FacultyLogo.jpg">
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
</head>
<body>

<div class="wrapper">

<div class="main-section">
 <div class="container-fluid">
                <div class="navbar-nav">
                    <div class="logo1 col-lg-4 d-flex align-items-center">
                        <a href="index.html" title="">
                           <img src="~/resources/Images/logo.png" alt="" srcset="~/resources/Images/logo.png 2x" width=70>                        
                        </a>
                         <p class="text-center">Донишгоҳи техникии Тоҷикистон ба номи М.С Осимӣ</p>
                    </div>
                     
                </div>
            </div>
    <header>
        <div class="container">           
            <div class="header-content d-flex flex-wrap align-items-center">
                <div class="logo d-flex align-items-center">
                    <a href="index.html" title="">
                        <img src="~/resources/Images/FacultyLogo.jpg" alt="" srcset="~/resources/Images/FacultyLogo.jpg 2x" width=60>                        
                    </a>
                    <p class="text-center">Технологияи иттилоотӣ ва коммуникатсионӣ</p>
                </div><!--logo end-->
                <ul class="contact-add d-flex flex-wrap">
                    <li>
                        <div class="contact-info">
                            <img src="~/assets/img/icon1.png" alt="">
                            <div class="contact-tt">
                                <h4>Call</h4>
                                <span>Zarafshon: 555 16 16 16</span>
                            </div>
                        </div><!--contact-info end-->
                    </li>
                    <li>
                        <div class="contact-info">
                            <img src="~/assets/img/icon2.png" alt="">
                            <div class="contact-tt">
                                <h4>Work Time</h4>
                                <span>Mon - sat 2 PM - 8 PM</span>
                                <span>Sunday - 9 AM - 8 PM</span>
                            </div>
                        </div><!--contact-info end-->
                    </li>
                    <li>
                        <div class="contact-info">
                            <img src="~/assets/img/icon3.png" alt="">
                            <div class="contact-tt">
                                <h4>Address</h4>
                                <span>Street Jabbor Rasulov 71/1</span>
                            </div>
                        </div><!--contact-info end-->
                    </li>
                </ul><!--contact-information end-->
                <div class="menu-btn">
                    <a href="#">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </a>
                </div><!--menu-btn end-->
            </div><!--header-content end-->
            <div class="navigation-bar d-flex flex-wrap align-items-center">
                <nav>
                    <ul>
                        <li>
                            <a class="active" href="~/home/index" title="">Факултет</a>
                            <ul><li><a href="events.html" title="">Events</a></li><li><a href="event-single.html" title="">Event Single</a></li><li><a href="schedule.html" title="">Schedule</a></li><li><a href="error.html" title="">404</a></li></ul>
                        </li>
                        <li>
                            <a href="~/sciencework/index" title="">Таълим</a>
                        </li>
                        <li>
                            <a href="~/class/index" title="">Илм ва инноватсия</a>
                        </li>
                        <li>
                            <a href="~/teacher/index" title="">Тарбия</a>
                        </li>
                        <li>
                            <a href="~/order/index" title="">Ҳадафҳои рушд</a>
                        </li>
                    </ul>
                </nav><!--nav end-->
                <ul class="social-links ml-auto">
                    <li>
                        <a href="https://www.instagram.com/intellect.edu.tj/" title="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                </ul>
            </div><!--navigation-bar end-->
        </div>
    </header><!--header end-->

    <div class="responsive-menu">
        <ul>
            <li>
                <a class="active" href="~/home/index" title="">Асосӣ</a>
            </li>
            <li>
                <a href="~/sciencework/index" title="">Кори илмӣ</a>
            </li>
            <li>
                <a href="~/class/index" title="">Сарборӣ</a>
            </li>
            <li>
                <a href="~/teacher/index" title="">Омӯзгор</a>
            </li>
            <li>
                <a href="~/blog/index" title="">Фармон</a>
            </li>
        </ul>
    </div><!--responsive-menu end-->

</div><!--main-section end-->


@RenderBody()


<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-about d-flex align-items-center">
                        <img src="~/resources/Images/FacultyLogo.jpg" alt="" width=120>
                        <p class="text-center">Технологияи иттилоотӣ ва коммуникатсионӣ</p>
                    </div><!--widget-about end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact">
                        <ul class="contact-add">
                            <li>
                                <div class="contact-info">
                                    <img src="~/assets/img/icon1.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Call</h4>
                                        <span>Zarafshon: 555 16 16 16</span>
                                        <span>Dangara: 554 16 16 16</span>
                                        <span>Molodejniy: 553 16 16 16</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="~/assets/img/icon2.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Work Time</h4>
                                        <span>Mon - sat 2 PM - 8 PM</span>
                                        <span>Sunday - 9 AM - 8 PM</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="~/assets/img/icon3.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Address</h4>
                                        <span>Street Jabbor Rasulov 71/1</span>
                                        <span>Street Sheralizoda 91/1</span>
                                        <span>Street Bobohamdam 26/2</span>
                                        <span>Street Firdavsi 62/1</span>
                                        <span>Orient: Molodejniy teatr</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                        </ul>
                    </div><!--widget-contact end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-links">
                        <h3 class="widget-title">Quick Links</h3>
                        <ul>
                            <li>
                                <a class="active" href="~/home/index" title="">Асосӣ</a>
                            </li>
                            <li>
                                <a href="~/sciencework/index" title="">Кори илмӣ</a>
                            </li>
                            <li>
                                <a href="~/class/index" title="">Сарборӣ</a>
                            </li>
                            <li>
                                <a href="~/teacher/index" title="">Омӯзгор</a>
                            </li>
                            <li>
                                <a href="~/blog/index" title="">Фармон</a>
                            </li>
                        </ul>
                    </div><!--widget-links end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-iframe">
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3119.2854183296763!2d68.75666691560933!3d38.57327467358864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b5d155f75ef023%3A0xfe8af5f57b223049!2z0JTQvtC90LjRiNCz0L7Ss9C4INCi0LXRhdC90LjQutC4INCi0L7St9C40LrQuNGB0YLQvtC9INCx0LAg0L3QvtC80Lgg0Jwu0J7RgdC40LzToyAo0KTQsNC60YPQu9GC0LXRgtC4INGB0L7RhdGC0LzQvtC9LCDQutC-0LzRg9C90LjQutCw0YbQuNGPLCDRgtC10YXQvdC-0LvQvtCz0LjRj9C4INC40L3QvtCy0LBj0LjQvtC906Mp!5e0!3m2!1sen!2s!4v1649411484634!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div><!--widget-iframe end-->
               </div>
            </div>
        </div><!--top-footer end-->
        <div class="bottom-footer">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Донишгоҳи техникии Тоҷикистон ба номи М.С. Осимӣ</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="social-links">
                        <li>
                            <a href="https://www.instagram.com/intellect.edu.tj/" title="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--bottom-footer end-->
    </div>
</footer><!--footer end-->

</div>


<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/isotope.js"></script>
<script src="~/assets/js/html5lightbox.js"></script>
<script src="~/assets/js/slick.min.js"></script>
<script src="~/assets/js/tweenMax.js"></script>
<script src="~/assets/js/scripts.js"></script>
</body>
</html>