<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Department - Website"/>
    <meta name="author" content="merkulove">
    <meta name="keywords" content=""/>
    <link rel="icon" href="~/resources/Images/logoScience.png">
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
</head>
<body>

<div class="wrapper">

<div class="main-section">

    <header>
        <div class="container">
            <div class="header-content d-flex flex-wrap align-items-center">
                <div class="logo">
                    <a href="index.html" title="">
                        <img src="~/resources/Images/logo.jpg" alt="" srcset="~/assets/img/01_Logo_2x.png 2x" width=120 height=100>
                    </a>
                </div><!--logo end-->
                <ul class="contact-add d-flex flex-wrap">
                    <li>
                        <div class="contact-info">
                            <img src="~/assets/img/icon1.png" alt="">
                            <div class="contact-tt">
                                <h4>Call</h4>
                                <span>Zarafshon: 555 16 16 16</span>
                            </div>
                        </div><!--contact-info end-->
                    </li>
                    <li>
                        <div class="contact-info">
                            <img src="~/assets/img/icon2.png" alt="">
                            <div class="contact-tt">
                                <h4>Work Time</h4>
                                <span>Mon - sat 2 PM - 8 PM</span>
                                <span>Sunday - 9 AM - 8 PM</span>
                            </div>
                        </div><!--contact-info end-->
                    </li>
                    <li>
                        <div class="contact-info">
                            <img src="~/assets/img/icon3.png" alt="">
                            <div class="contact-tt">
                                <h4>Address</h4>
                                <span>Street Jabbor Rasulov 71/1</span>
                            </div>
                        </div><!--contact-info end-->
                    </li>
                </ul><!--contact-information end-->
                <div class="menu-btn">
                    <a href="#">
                        <span class="bar1"></span>
                        <span class="bar2"></span>
                        <span class="bar3"></span>
                    </a>
                </div><!--menu-btn end-->
            </div><!--header-content end-->
            <div class="navigation-bar d-flex flex-wrap align-items-center">
                <nav>
                    <ul>
                        <li>
                            <a class="active" href="~/home/index" title="">Асосӣ</a>
                        </li>
                        <li>
                            <a href="~/sciencework/index" title="">Кори илмӣ</a>
                        </li>
                        <li>
                            <a href="~/class/index" title="">Сарборӣ</a>
                        </li>
                        <li>
                            <a href="~/teacher/index" title="">Омӯзгор</a>
                        </li>
                        <li>
                            <a href="~/order/index" title="">Фармон</a>
                        </li>
                    </ul>
                </nav><!--nav end-->
                <ul class="social-links ml-auto">
                    <li>
                        <a href="https://www.instagram.com/intellect.edu.tj/" title="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div><!--navigation-bar end-->
        </div>
    </header><!--header end-->

    <div class="responsive-menu">
        <ul>
            <li>
                <a class="active" href="~/home/index" title="">Асосӣ</a>
            </li>
            <li>
                <a href="~/sciencework/index" title="">Кори илмӣ</a>
            </li>
            <li>
                <a href="~/class/index" title="">Сарборӣ</a>
            </li>
            <li>
                <a href="~/teacher/index" title="">Омӯзгор</a>
            </li>
            <li>
                <a href="~/blog/index" title="">Фармон</a>
            </li>
        </ul>
    </div><!--responsive-menu end-->

</div><!--main-section end-->


@RenderBody()


<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-about">
                        <img src="~/resources/Images/logo.jpg" alt="">
                        <p>Донишгоҳи техникии Тоҷикистон ба номи М.С. Осимӣ</p>
                    </div><!--widget-about end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-contact">
                        <ul class="contact-add">
                            <li>
                                <div class="contact-info">
                                    <img src="~/assets/img/icon1.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Call</h4>
                                        <span>Zarafshon: 555 16 16 16</span>
                                        <span>Dangara: 554 16 16 16</span>
                                        <span>Molodejniy: 553 16 16 16</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="~/assets/img/icon2.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Work Time</h4>
                                        <span>Mon - sat 2 PM - 8 PM</span>
                                        <span>Sunday - 9 AM - 8 PM</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                            <li>
                                <div class="contact-info">
                                    <img src="~/assets/img/icon3.png" alt="">
                                    <div class="contact-tt">
                                        <h4>Address</h4>
                                        <span>Street Jabbor Rasulov 71/1</span>
                                        <span>Street Sheralizoda 91/1</span>
                                        <span>Street Bobohamdam 26/2</span>
                                        <span>Street Firdavsi 62/1</span>
                                        <span>Orient: Molodejniy teatr</span>
                                    </div>
                                </div><!--contact-info end-->
                            </li>
                        </ul>
                    </div><!--widget-contact end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-links">
                        <h3 class="widget-title">Quick Links</h3>
                        <ul>
                            <li>
                                <a class="active" href="~/home/index" title="">Асосӣ</a>
                            </li>
                            <li>
                                <a href="~/sciencework/index" title="">Кори илмӣ</a>
                            </li>
                            <li>
                                <a href="~/class/index" title="">Сарборӣ</a>
                            </li>
                            <li>
                                <a href="~/teacher/index" title="">Омӯзгор</a>
                            </li>
                            <li>
                                <a href="~/blog/index" title="">Фармон</a>
                            </li>
                        </ul>
                    </div><!--widget-links end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget widget-iframe">
                        <iframe src="https://www.google.com/maps/place/%D0%94%D0%BE%D0%BD%D0%B8%D1%88%D0%B3%D0%BE%D2%B3%D0%B8+%D0%A2%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B8+%D0%A2%D0%BE%D2%B7%D0%B8%D0%BA%D0%B8%D1%81%D1%82%D0%BE%D0%BD+%D0%B1%D0%B0+%D0%BD%D0%BE%D0%BC%D0%B8+%D0%9C.%D0%9E%D1%81%D0%B8%D0%BC%D3%A3+(%D0%A4%D0%B0%D0%BA%D1%83%D0%BB%D1%82%D0%B5%D1%82%D0%B8+%D1%81%D0%BE%D1%85%D1%82%D0%BC%D0%BE%D0%BD,+%D0%BA%D0%BE%D0%BC%D1%83%D0%BD%D0%B8%D0%BA%D0%B0%D1%86%D0%B8%D1%8F,+%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F%D0%B8+%D0%B8%D0%BD%D0%BE%D0%B2%D0%B0c%D0%B8%D0%BE%D0%BD%D3%A3)/38.5735999,68.7585938,706m/data=!3m1!1e3!4m5!3m4!1s0x38b5d155f75ef023:0xfe8af5f57b223049!8m2!3d38.5732705!4d68.7588556" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div><!--widget-iframe end-->
                </div>
            </div>
        </div><!--top-footer end-->
        <div class="bottom-footer">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Системаҳои автоматикунонидашудаи идоракунӣ</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="social-links">
                        <li>
                            <a href="https://www.instagram.com/intellect.edu.tj/" title="">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--bottom-footer end-->
    </div>
</footer><!--footer end-->

</div>


<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/isotope.js"></script>
<script src="~/assets/js/html5lightbox.js"></script>
<script src="~/assets/js/slick.min.js"></script>
<script src="~/assets/js/tweenMax.js"></script>
<script src="~/assets/js/scripts.js"></script>
</body>
</html>